* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(
    to right,
    rgb(233, 41, 41),
    rgb(62, 62, 231),
    rgb(233, 233, 61)
  );
  font-family: cursive;
}

.container {
  width: 80%;
  margin: 100px auto;
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}

.image-wrapper {
  width: 300px;
  height: 400px;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
}

.image-wrapper img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  border-radius: 5px;
  transition: all 0.5s;
  cursor: pointer;
}

.image-wrapper .layer {
  background: linear-gradient(rgb(0, 0, 0, 0.3), var(--bg));
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  display: grid;
  place-content: center;
  text-align: center;
  overflow: hidden;
  border-radius: 5px;
  transition: height 0.5s;
}

.layer h2 {
  color: #fff;
  font-size: 80px;
  transform: skewY(-20deg);
  letter-spacing: 2px;
}

.layer span {
  font-size: 25px;
  color: #fff;
  margin-top: 2rem;
  padding: 0 1rem;
}

.image-wrapper:hover .layer {
  height: 100%;
}

.image-wrapper:hover img {
  transform: scale(1.2);
}
